.App {
  height: 100%;
  width: 100%;
}

.App-logo {
  pointer-events: none;
  height: 605px;
}
.App-header {
  background-color: #013B23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

